@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

a{
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dafff7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

.center{
  margin-top: 1rem !important;
  margin: auto;
  text-align: center;
}



.btn {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid #03be9f;
  color: #dafff7;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  transition: .2s linear all;
}

.btn-primary{
  @extend .btn;
  background-color: #03be9f;
}

.btn-secondary{
  @extend .btn;
  background-color: #dafff7;
  color: #03be9f;
  &:hover{
    background-color: #03be9f;
    color: #dafff7;
  }
}

input,textarea{
  outline: none;
}

li,ul{
  list-style-type: none;
}
ul{
  padding: 0;
}